.select-banner{
  margin-top: 80px;
  padding: 10px;
  text-align: center;
  height: 100px;
  background-color: #373737;
}

select{
  height: 80px;
  width: 200px;
  margin-left:10px;
  font-size: 30px;
  font-family: 'Audiowide', cursive;
}

.lift{
  width: 250px;
}

label{
  color: white;
}