.select-banner{
  margin-top: 80px;
  padding: 10px;
  text-align: center;
  height: 100px;
  background-color: #373737;
}

select{
  height: 80px;
  width: 260px;
  margin-left:10px;
  font-size: 30px;
  font-family: 'Audiowide', cursive;
}

.lift{
  width: 290px;
}

label{
  color: white;
}

.adding, .subbing, .reset{
  height: 80px;
  width: 200px;
  margin-left: 10px;
  border-radius: 10px;
  font-size: 26px;
  cursor: pointer;
  font-family: 'Audiowide', cursive;
}

.adding {
  background-color: lime;
  border-bottom: 3px solid #007900;
  border-left: 3px solid #007900;
  border-top: 3px solid #8FFF8F;
  border-right: 3px solid #8FFF8F
}

.subbing {
  background-color: red;
  border-bottom: 3px solid #710000;
  border-left: 3px solid #710000;
  border-top: 3px solid #FE5151;
  border-right: 3px solid #FE5151;
}

.reset {
  color: #AFAFAF;
  background-color: blue;
  border-bottom: 3px solid #00008E;
  border-left: 3px solid #00008E;
  border-top: 3px solid #2A2AFF;
  border-right: 3px solid #2A2AFF
}

.adding:focus, .subbing:focus, .reset:focus{
  outline: none;
}

.adding:active, .subbing:active, .reset:active{
  transform: translateY(4px);
}